@import "tailwindcss";

@theme {
  --color-deep-charcoal: #121212;
  --color-electric-cyan: #00f3ff;
  --color-soft-violet: #c084fc;
  
  --font-sans: "Inter", system-ui, sans-serif;
}

:root {
  font-family: var(--font-sans);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--color-deep-charcoal);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-deep-charcoal);
  color: white;
}

#root {
  width: 100%;
  min-height: 100vh;
}
